.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  float: left; 
}

.App-header {
  background-color: #002F6C;
  height: 60px;
  line-height: 50px;
  padding: 5px;
  color: white;
  font-size: x-large;
  text-align: left;
}

.header-text {
  padding-left: 5px;
}

.filter-controls {
  padding: 5px;
  margin: auto;
  float: left;
}

.title {
  font-weight: bold;
  font-size: large;
}

.sub-title {
  font-style: italic;
  font-size: small;
}

.title-container {
  display: block;
  clear: left;
}
